@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://i.pinimg.com/564x/fa/2b/7f/fa2b7f23dcd6eddea008b6a5a01cbfe0.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  object-fit: fill;
}

/* seccion header */
.logo {
  width: 100px;
  height: 100px;
}

header {
  width: 100%;
  height: 15vh;
}

.logos-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3% 10%;
  height: 15vh;

}

.logo {
  width: 3000px;
  height: 400px;
}


/* seccion main */
main {
  display: grid;
  grid-template-columns: repeat (3, 1fr);
  height: 80vh;
}
/* seccion boleto*/
.foto_boleto {
width: 170%;
height: 70vh;
}
.boleto {
  width: 51%;
  height: 68%;
  margin-left: 5%;
  position: relative;
}

.boleto input {
  position: absolute;
  bottom: 28%;
  margin-left: 73%;
  width: 25%;
  height: 12%;
  background-color: transparent;
  border: none;
}
/* seccion lista participantes */
.opciones {
  grid-area: 1 / 2 / 2 / 3;
  margin-left: 10%;
  margin-top: 17%;
  width: 100%;
  height: 60vh;
  border: 2px solid #40f2fe;
  border-radius: 15% 3% 15% 3%;
  box-shadow: 0 0 70px 0 #40f2fe, inset 0 0 20px 0 #40f2fe;
 padding-left: 30%;

}

#boton-nombre {
  margin-top: 5%;
  padding-left: 18%;
  background-color: transparent;
  color: #cf0060;
  font-size: 2em;
  border: none;
  cursor: pointer;
  outline: none;
  letter-spacing: -2px;
  color: #cf0060;
  text-shadow: 0 0 5px #cf0060, 0 0 10px #cf0060, 0 0 15px #cf0060, 0 0 20px #ff00de, 0 0 25px #ff00de;
  -webkit-text-fill-color: #F4ECFF;
  -webkit-text-stroke-color: #C546F7;
  -webkit-text-stroke-width: 0.2px;
}

.name {
  background-color: transparent;
  color: #40f2fe;
  font-size: 1em;
  outline: none;
  border: none;
  border-bottom: 2px solid #cf0060;
  height: 10%;
  width: 70%;
  text-align: center;
}

::placeholder {
  color: #ff00de;
  text-align: center;
}
#participantes {
margin-top: 5%;
font-size: 1.5em;
 letter-spacing: -2px;
  color: #40f2fe;
  text-shadow: 0 0 5px #cf0060, 0 0 10px #40f2fe, 0 0 15px #40f2fe;
  -webkit-text-fill-color: #F4ECFF;
  -webkit-text-stroke-color: #C546F7;
  -webkit-text-stroke-width: 0.2px;
}

/* sección imagen boleto*/
#card {
  grid-area: 1 / 1 / 3 / 2;
  width: 100%;
  display: flex;
  margin-top: 15%;
}

#bombo {
  grid-area: 1 / 3 / 2 / 3;
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
}

.transformed {
  width: 60%;
  height: 70%;
  margin-top: 15%;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}



/* footer */

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  width: 100%;
  height: 5vh;

}

.links a {
  text-decoration: none;
  font-family: 'Changa One', cursive;
  font-size: 3em;
  color:  #40f2fe;
  text-shadow: 0 0 5px #cf0060, 0 0 10px #40f2fe, 0 0 15px #40f2fe;
  -webkit-text-fill-color: #F4ECFF;
  -webkit-text-stroke-color: #C546F7;
  -webkit-text-stroke-width: 0.2px;
  margin-bottom: 4%;
}

/* sección ganadora */
#ganadora {
  grid-area: 2 / 3 / 3 / 3;
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
}

.resultado {
  width: 90%;
  height: 100%;
  position: relative;
  top: -60%
}

#resultado {
  position: absolute;
  width: 15%;
  height: 16%;
  margin-top: -6%;
  letter-spacing: -2px;
  color: #40f2fe;
  text-shadow: 0 0 5px #cf0060, 0 0 10px #40f2fe, 0 0 15px #40f2fe;
  -webkit-text-fill-color: #F4ECFF;
  -webkit-text-stroke-color: #C546F7;
  -webkit-text-stroke-width: 0.2px;
  display: flex;
  justify-content: center;

  font-size: 2em;
}

.reset {
  align-self: flex-end;
  margin-left: 50%;
  background-color: transparent;
  border: none;
  font-size: 0.75em;
  color: black;
  cursor: pointer;

}
.result-output {

}