@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://i.pinimg.com/564x/fa/2b/7f/fa2b7f23dcd6eddea008b6a5a01cbfe0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: fill;
}

.logo {
  width: 100px;
  height: 100px;
}

header {
  width: 100%;
  height: 15vh;
}

.logos-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3% 10%;
  height: 15vh;

}

.logo {
  width: 3000px;
  height: 400px;
}



main {
  display: grid;
  grid-template-columns: repeat (3, 1fr);
  height: 80vh;
}

#card {
  grid-area: 1 / 1 / 3 / 2;
  width: 100%;
  display: flex;
  margin-top: 15%;
}

.boleto {
  width: 51%;
  height: 68%;
  margin-left: 5%;
  position: relative;
}

.boleto input {
  position: absolute;
  bottom: 0em;
  right: -14%;
  width: 31%;
  height: 18%;
}

.opciones {
  display: flex;
  flex-direction: columns;
  margin-left: 10%;
  margin-top: 15%;
  width: 100%;
  height: 150%;
}

.text {
  background-color: transparent;
  color: white;
}

.casillero {
  display: flex;
  padding-left: 30%;
  padding-bottom: 5%;
  position: relative;
}

#bombo {
  grid-area: 1 / 3 / 2 / 3;
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;

}

#ganadora {
  grid-area: 2 / 3 / 3 / 3;
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  width: 100%;
  height: 5vh;

}

.links a {
  text-decoration: none;
  font-family: 'Changa One', cursive;
  font-size: 3em;
  color: #cf0060;
  margin-bottom: 1%;
}

.transformed {
  width: 700px;
  height: 300px;
  margin-top: 60px;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.resultado {
  width: 700px;
}