* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
header h1 {
width: 100%;
height: 15vh;
background-color: yellow;
display: flex;
justify-content: center;
}
main {
display: grid;
grid-template-columns: repeat(2, 1fr);
height: 80vh;
}
#card {
grid-area: 1 / 1 / 3 / 2;
background-color: pink;
width:100%;

}
#bombo {
grid-area: 1 / 2 / 2 / 3;
background-color: green;
width: 100%;

}
#ganadora {
grid-area: 2 / 2 / 3 / 3;
background-color: blue;
width: 100%;

}
.links {
display: flex;
justify-content: center;
align-items: center;
gap: 10%;
width: 100%;
height: 5vh;

}
.links a {
text-decoration:none;
}